<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>End</title>
  </head>
  <body>
<p>Great try but ya came up short. The word you were trying to guess was {{#randomWords}}{{.}}{{/randomWords}}</p>
<form action="/" method="post">
  <button type="submit" name="button">Try Again ???????</button>
</form>
  </body>
</html>
