<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>You-Win!!!!</title>
  </head>
  <body>
    <h2>Dude You Won !!!!</h2>
    <p>Great job. Would you like to try again ? If so hit this button.</p>
    <form action="/" method="post">
      <button type="submit" name="button">Do It !</button>
    </form>
  </body>
</html>
