<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Can You Guess It !</title>
  </head>
  <body>
    <h1>Welcome to Guess That WORD!!! </h1>
    <br>
    <h2>Lets Play :)</h2>

    <br>
    <br>
    <br>

    <div id="mainDiv">
      <p>Guess That Word !</p>
      <p>This is how many guesses you have left:<span class="trysLeft">{{#try}} {{.}} {{/try}}</span></p>
      <br>
      <p>Here you go. Try and guess the word. You get 8 guesses and 1 letter per guess.</p>
      <p>If you guess the same letter it won't be counted against you.</p>

      <div id="errorDiv">
        {{#mainError}}
          <p>{{.}}</p>
        {{/mainError}}
      </div>

      <form class="mainForm" action="/Guess-It" method="post">
        <input type="text" name="inputField" placeholder="Guess Here">
        <button type="submit" name="button">GUESS!</button>
        <br>
        <div id="wordsDiv">
          {{#randomWords}}
            <p>{{.}}</p>
          {{/randomWords}}
        </div>
      </form>

      <div id="guessedLetterDiv">
        {{#userGuesses}}
        <p>{{.}}</p>
        {{/userGuesses}}
      </div>
    </div>
  </body>
</html>
