body h1 {
  text-align: center;
}
body h2 {
  text-align: center;
}
#mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wordsDiv {
  display: flex;
  flex-direction: row;
  font-size: 1em;
}
#wordsDiv p {
  display: block;
  letter-spacing: 10px;
}
#guessedLetterDiv {
  display: flex;
  flex-direction: row;
}
#guessedLetterDiv p {
  margin-left: 1em;
  text-decoration: underline;
}
